.banner{
	margin: auto;
	width: 80%;
	color :black;
	align-items: center;
	padding: 32px 0px 32px 0px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

nav {
	display: flex;
	justify-content: space-between;
	width: 20%;
	text-decoration: none;
	color :#FF6060;
}

link {
	display: flex;
	justify-content: center;
}


.lmj-logo {
	height: 45px;
	width: 45px;
}