@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Regular.ttf');
}

.mainCollapseDevice {
    color: white;
    border-radius: 10px;
    width: 582px;
}

button {
    border: none;
    background-color: #ff6060;
    text-decoration: none;
}

.collapseDeviceOpen {
    border-radius: 10px;
    height: 300px;
    background-color: #f6f6f6;
    color: #ff6060;
}

.h2c {
    margin-bottom: 0px;
    padding: 10px;
    background-color: #ff6060;
    font-family: 'Montserrat';
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    width: 96.6%;
}
