@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Regular.ttf');
}

#errormain {
    margin: 0px auto 0px auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.error404 {
    margin-top: 66px;
    margin-bottom: 40px;
    height: auto;
    font-family: 'Montserrat';
    font-size: 288px;
    color: #ff6060;
}

p {
    font-family: 'Montserrat';
    font-size: 36px;
    align-items: center;
    color: #ff6060;
}

.naverror {
    width: 50%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.errorLink {
    margin-top: 200px;
    font-size: 16px;
    font-family: 'Montserrat';
    text-decoration: none;
    color: #ff6060;
}

@media screen and (max-width: 550px) {
    .error404 {
        font-size: 96px;
    }

    p {
        text-align: center;
        font-size: 18px;
    }
    .naverror {
        width: 100%;
    }
}
