@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Regular.ttf');
}

.gallery {
    padding-top: 40px;
    font-family: 'Montserrat';
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    background-color: #f6f6f6;
}

@media screen and (max-width: 550px) {
    .gallery {
        padding-top: 22px;
        background-color: white;
        width: 90%;
    }
}
