@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Regular.ttf');
}

.imgPortrait {
    width: 70px;
    height: 70px;
}

.star {
    width: 24px;
    height: 24px;
}

.logementMainDiv {
    margin: auto;
}

.allInfo {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.infoTag {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nomImg {
    align-items: center;
    display: flex;
    flex-direction: row;
}
.nomLieu {
    font-size: 36px;
    color: #ff6060;
    font-family: 'Montserrat';
}

.containerLogement {
    width: 80%;
    margin: auto;
}

.tagLogement {
    justify-content: space-between;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.nomImgNote {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.note {
    display: flex;
    justify-content: space-between;
}

.collapseLogement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 550px) {
    .note {
        align-items: center;
    }
    .star {
        width: 13px;
        height: 13px;
    }

    .nomLieu {
        font-size: 18px;
    }

    .tagLogement {
        width: 80%;
    }
    .collapseLogement {
        flex-direction: column;
    }
    .allInfo {
        flex-direction: column;
    }
    .nomImgNote {
        flex-direction: row;
    }

    .containerLogement {
        width: 90%;
        margin: auto;
    }
}
