@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Regular.ttf');
}

.logementMainDiv{
    margin: auto;
}

.nomLieu{
    font-family: 'Montserrat';
}

.containerLogement{
    width: 80%;
    margin: auto;
}

.tagLogement{
    height: 80px;
    justify-content: space-between;
    width: 40%;
    display: flex;
    flex-direction: row;
}

.collapseLogement{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}