.tag {
    display: flex;
    justify-content: center;
    width: 115px;
    height: 25px;
    color: white;
    background-color: #ff6060;
    border-radius: 10px;
}

.ptag {
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: white;
}
@media screen and (max-width: 550px) {
    .tag {
        border-radius: 5px;

        width: 84px;
        height: 18px;
    }

    .ptag {
        font-size: 8px;
    }
}
